<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Add User</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>

<div th:align="center">
    <h1>Create a User:</h1>

    <form th:action="@{/admin/add_user}" th:object="${user}" method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" th:field="*{name}"/>
                </label></td>
            </tr>

            <tr>
                <td>Surname:</td>
                <td><label>
                    <input type="text" th:field="*{surname}"/>
                </label></td>
            </tr>

            <tr>
                <td>Age:</td>
                <td><label>
                    <input type="number" th:field="*{age}"/>
                </label></td>
            </tr>

            <tr>
                <td>Username:</td>
                <td><label>
                    <input type="text" th:field="*{username}"/>
                </label></td>
            </tr>

            <tr>
                <td>Password:</td>
                <td><label>
                    <input type="password" th:field="*{password}"/>
                </label></td>
            </tr>

            <tr>
                <td>Roles:</td>
                <td><label th:each="role : ${roles}">
                    <input type="checkbox" name="roles" th:value="${role.name}"/>
                    <label th:text="${role.name}" ></label>
                </label></td>
            </tr>
        </table>
        <button type="submit" name="action" value="create">Create</button>
        <button type="submit" name="action" value="cancel">Cancel</button>
    </form>

    <br/>

    <div th:if="${param.error}" style="color:red;font-style:italic;">
        Данные пользователя не прошли валидацию
    </div>
</div>

</body>
</html>