<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>User Page</title>
</head>
<body>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>


<div th:align="center">
    <h1>User</h1>
    <br/><br/>
    <div>
        <table th:border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Roles</th>
            </tr>
            <tr th:object="${user}">
                <td th:utext="*{id}">...</td>
                <td th:utext="*{name}">...</td>
                <td th:utext="*{surname}">...</td>
                <td th:utext="*{age}">...</td>
                <td th:text="*{roles}">...</td>
            </tr>
        </table>
    </div>
</div>
</body>

</html>